/* Fade-In animation speed */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Background color */
body{
  background-color: black;
  /* Fade-In animation */
  animation: fadeIn 5s;
  margin: 0;

}

.background{
  z-index: 0;
  position: absolute;
  width: 100%;
}

/* BackgroundPhoto */
#background1{
  top: 0%;
  left: 0%;
  z-index: 0;
  position: absolute;
  width: 100%;
}

/* BackgroundPhoto */
#background2{
  top: 135%;
  left: 0%;
  z-index: 0;
  position: absolute;
  width: 100%;
}

#background3{
  top: 255%;
  left: 0%;
  z-index: 0;
  position: absolute;
  width: 100%;
}



/*Adding very little opacity effect to end corners of sides*/
.PurpelBoxContainer{
  position:absolute;
  z-index: 1;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #17192e,#17192e );
}

.PurpelBoxContainerTurn{
  position:absolute;
  z-index: 1;
  width: 100%;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #17192e,#17192e );
}

.PurpelBoxContainerTurn2{
  position:absolute;
  z-index: 1;
  width: 100%;
  z-index: 5;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #91795f, #17192e);
}

.PurpelBoxContainerTurn3{
  position:absolute;
  z-index: 1;
  width: 100%;
  z-index: 5;
  background-image: linear-gradient(to top, rgba(255, 0, 0, 0), #91795f, #91795f);
}

.PurpelBoxContainer2{
  position:absolute;
  z-index: 1;
  width: 100%;
  z-index: 5;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #91795f, #91795f);
}

#PurpelBox1{
  height: 20%;
  top:89%;
  left: 0%;
}

#PurpelBox{
  height: 65%;
  top:106%;
  left: 0%;
}

#PurpelBox2{
  height: 20%;
  top:225%;
  left: 0%;
}

#PurpelBox3{
  height: 20%;
  top:245%;
  left: 0%;
}

#PurpelBox6{
  height: 20%;
  top:245%;
  left: 0%;  background-color: #91795f; /* Transparent overlay color */
  opacity: 0.3; /* Adjust the opacity as needed */
  z-index: 1; /* Ensure the overlay is behind the other elements */
  height: 120vh;
  z-index: 2;
}

#PurpelBox4{
  top:362%;
  left: 0%;
}

#PurpelBox5{
  height: 20%;
  top:350%;
  left: 0%;
}



/* Your navigation styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  z-index: 2;
  padding: 20px 15px;
  font-family: 'Poppins', sans-serif;
  position: relative; /* Ensure relative positioning for the ::before pseudo-element */
}

.nav-links::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #17192e; /* Transparent overlay color */
  opacity: 0.5; /* Adjust the opacity as needed */
  z-index: 1; /* Ensure the overlay is behind the other elements */
  height: 500vh;
  margin: 0;
  padding: 0;
}

.nav-links li {
  list-style: none;
  margin: 0 12px;
  z-index: 2;
}

.nav-links li a {
  position: relative;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
  z-index: 2;
}

.nav-links li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: orange;
  border-radius: 12px;
  transition: all 0.4s ease;
  z-index: 2;
}

.nav-links li a:hover:before {
  width: 100%;
  z-index: 2;
}

.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@font-face {
  font-family: VinaSans;
  src: url(VinaSans-Regular.ttf);
}

@font-face {
  font-family: font;
  src: url(AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}


#TittelContainer {
    position: absolute;
    z-index: 3;
    list-style-type: none;
    text-align: left;
    left: 1%;
    top: 10%;
}

#TittelContainer1 {
  left: 45%;
  margin-left: 3%;
  top:95%;
  position: absolute;
  z-index: 3;
  list-style-type: none;
}

#TittelContainer2 {
  right: 45%;
  top:160%;
  margin-right: 15%;
  position: absolute;
  z-index: 3;
  list-style-type: none;
}

#TittelContainer3 {
  top:205%;
  margin: 32%;
  right: 7%;
  position: absolute;
  z-index: 3;
  list-style-type: none;
  text-align:center;
}

.Title {
    color: white;
    font-size: 1vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Title1 {
    color: orange;
    font-size: 7.7vw;
    font-family: 'VinaSans', sans-serif; /* Assuming 'VinaSans' is the font name */
}

.Title2 {
    color: antiquewhite;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Title4 {
  color: antiquewhite;
  font-size: 3vw;
  font-family: 'VinaSans', sans-serif; /* Assuming 'VinaSans' is the font name */
}

.Title3 {
  color:antiquewhite;
  font-size: 1.4vw;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Title5 {
  color: orange;
  font-size: 4vw;
  font-family: 'font';
}

.Title6 {
  color:black;
  font-size: 1vw;
  font-family: 'font';
}



.PhotoContainer{
  position:absolute;
  z-index: 3;
}

#Photo1{
  width: 40%;
  top: 100%;
  left: 5%;
  bottom: 10%;
  position:absolute;
  z-index: 3;
  padding: 0%;
}

#Photo2{
  width: 55%;
  top: 160%;
  left: 40%;
  bottom: 10%;
  position:absolute;
  z-index: 3;
  padding: 0%;
}


#button1{
  top: 135.5%;
  right: 43%;
  font-size: 1vw;
}

#button2{
  top: 333%;
  right: 46%;
  font-size: 2vw;
}


button {
  position: absolute;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid orange;
  border-color: orange;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 2;
}

button:hover {
  background: orange;
  box-shadow: 0 0 30px 5px rgb(244, 181, 66);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: orange;
  box-shadow: 0 0 50px 30px orange;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}



@media screen and (max-width:480px) {
  /* BackgroundPhoto */
  #background1{
    width: 130%;
    right: -27%;
  }
  
  /* BackgroundPhoto */
  #background2{
    top: 52%;
    width: 130%;
  }
  
  #background3{
    top: 100%;
    width: 150%;
    left: -35%;
  }
  
  #PurpelBox1{
    height: 10%;
    top:30%;
  }
  
  #PurpelBox{
    height: 23%;
    top:40%;
  }
  
  #PurpelBox2{
    height: 20%;
    top:80%;
  }
  
  #PurpelBox3{
    height: 10%;
    top:95%;
  }
  
  #PurpelBox6{
    height: 10%;
    top:100%;
    left: 0%;  background-color: #91795f; /* Transparent overlay color */
    opacity: 0.3; /* Adjust the opacity as needed */
    z-index: 1; /* Ensure the overlay is behind the other elements */
    height: 45vh;
    z-index: 2;
  }
  
  
  #PurpelBox5{
    height: 5%;
    top:140%;
    left: 0%;
  }
  
  .nav-links li a {
    font-size: 4vw;
  }

  .nav-links::before {
    height: 180vh;
  }

#TittelContainer {
  left: -5%;
  top: 10%;
}

#TittelContainer1 {
left: 45%;
margin-left: 0%;
padding-right: 4%;
top:33%;
}

#TittelContainer2 {
left: -7%;
top:63%;
margin-right: 13%;
}

#TittelContainer3 {
top:87%;
padding: 33%;
margin: 0;
right: 10%;
left: -17%;
}

.Title {
  font-size: 2vw;
}

.Title1 {
  font-size: 8.7vw;
}

.Title2 {
  font-size: 2.65vw;
}

.Title4 {
font-size: 3vw;
}

.Title3 {
font-size: 1.4vw;
}

.Title5 {
font-size: 4vw;
}

.Title6 {
font-size: 2vw;
}


#Photo1{
  width: 45%;
  top: 36%;
  left: 5%;
}

#Photo2{
  width: 55%;
  top: 65%;
  left: 42%;
}

  #button1{
    font-size: 1.2vw;
    top: 50%;
    right: 32%;
    padding: 3px 9px;
  }


  #button2{
    top: 136%;
    right: 50%;
    font-size: 1.4vw;
    z-index: 3;
    padding: 9px 36px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
